



.main-container2 {
    display: flex;
    justify-content: center; /* Sayfada ortalanmasını sağlar */
    margin-top: 120px;
    flex-wrap: wrap; /* Ekstra containerları alt satıra geçirmek için */

  }
  
  .sub-container2 {
    width: 200px;
    width: 400px;
    margin: 0 5px; /* Kenarlarda boşluk bırakır */
    padding: 10px; /* İçerikten kenara boşluk bırakır */
    border-radius: 5px; /* Kenarları yuvarlatır */
    transition: background-color 0.3s; /* Renk değişimine geçiş efekti ekler */
    margin-bottom: 10px; /* Containerlar arasına boşluk bırakır */

  }
  
  .sub-container2:hover {
    background-color: rgb(225, 222, 222); /* Üzerine gelindiğinde arkaplan rengini değiştirir */
  }
  
  .sub-container2 .img2 {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
  
  body{
    background-color: white;
  }
  
  .sub-containe2r h2 {
    text-align: center;
    color: rgb(69, 103, 92);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  .link {
    text-decoration: none;
  }

  .sub-container2:hover h2 {
    color: rgb(58, 114, 36); /* Üzerine gelindiğinde arkaplan rengini değiştirir */
   
  }



  .main-container2 .link-box {
    display: flex;
    margin-top: 10px;
  }

  .sub-container3 {
    width: 100px;
    height: 100px;
    margin: 0 5px; /* Kenarlarda boşluk bırakır */
    border-radius: 5px; /* Kenarları yuvarlatır */
    transition: background-color 0.3s; /* Renk değişimine geçiş efekti ekler */
    margin-bottom: 10px; /* Containerlar arasına boşluk bırakır */

  }

  .sub-container3 .img3{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    

  }

  